<div class="overflow-x-auto max-h-[300px] scrollbar-hidden">
  <table class="w-full table-auto border rounded">
    <thead class="bg-teal-800 text-white sticky top-0">
      <tr>
        <th class="p-2">Name</th>
        <th class="p-2">Date</th>
        <th class="p-2">Severity</th>
        <th class="p-2">Note</th>
      </tr>
    </thead>
    <tbody class="text-sm text-gray-700 text-center">
      @for (condition of conditions; track condition) {
        <tr class="border-b border-teal-700">
          <td class="py-4">{{ condition.conditionName }}</td>
          <td class="p-2">{{ condition.date | date: 'dd/MM/yyyy' }}</td>
          <td class="p-2">{{ condition.severity }}</td>
          <td class="p-2">{{ condition.note }}</td>
        </tr>
      }
    </tbody>
  </table>
</div>

<div class="text-center flex justify-center items-center my-4 border-b border-teal-700 py-3 rounded-3xl">
  <a routerLink="/condition-add" class="flex items-center gap-1 text-teal-800 font-semibold">
    <img src="assets/icons/gridicons_add.png" class="w-5 h-5" />
    Add Condition
  </a>
</div>
